<!-- index.html --> 
{% extends 'base.html' %}<!--繼承base 拿它來改寫-->
{% block title %} 歡迎光臨我的部落格 {% endblock %}
{% block headmessage %} 
    <h3 style='font-family:標楷體;'>本站書籍列表</a>
{% endblock %}
{% block content %} 
{% for post in posts %}<!--透過for迴圈把資料集中的項目一個一個取出使用--> <!--資料庫中所設置資料的標題 點進去後才有內容-->
<div class='card'>
    <div class='card-header'>
        <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
            <a href='/post/{{post.slug}}'>{{ post.title }}</a>
        </p>
    </div>
    <div class='card-body' style='background-color:#ffffdd'>
        <p>
            {{ post.body | truncatechars:40 }}
        </p>
    </div>
    <div class='card-footer'  style='background-color:#efefef'>
        <p>
            發佈時間：{{ post.pub_date | date:"Y M d, h:m:s A"}}
        </p>
    </div>
</div>
<br><!--一個card放一行-->

{% endfor %}
{% endblock %}
